@page
@model MyBankApp.Pages.Account.DepositModel
@{
    ViewData["Title"] = "Deposit";
}
<section id="hero" class="hero section">
    <div class="container">
    
        <h2>Deposit</h2>
        <h3>Balance: @Model.Balance</h3>

        <form method="post">
            <div class="form-group mt-1">
                <label asp-for="Amount">Amount</label>
                <input class="form-control form-control-sm w-25" asp-for="Amount" />
                <span class="field-validation-error" asp-validation-for="Amount"></span>
            </div>
            <button type="submit" class="btn-small">Deposit</button>
        </form>
        <a asp-page="/Customers/CustomerDetails"
           asp-route-id="@Request.Query["customerId"]"
           class="btn-back">Back</a>
    </div>
</section>
