@page
@model MyBankApp.Pages.Account.WithdrawModel
@{
    ViewData["Title"] = "Withdraw";

}
<section class="content">
    <div class="container mt-2">

    @await Html.PartialAsync("_StatusMessage", Model.SuccessMessage)

        <h1>Withdraw</h1>
        <h3>Balance: @Model.Balance</h3>

        <form method="post">
            <div class="form-group mt-3">
                <label asp-for="Amount">Amount</label>
                <input class="form-control form-control-sm w-25" asp-for="Amount" />
                <span class="field-validation-error" asp-validation-for="Amount"></span>
            </div>
            <button type="submit" class="btn-small">Withdraw</button>
        </form>
        <a asp-page="/Customers/CustomerDetails"
           asp-route-id="@Request.Query["customerId"]"
           class="btn-back">Back</a>
    </div>
</section>

