@page
@model MyBankApp.Pages.Customers.EditModel
@{
}

<section id="hero" class="hero section">
    <img src="assets/img/hero-bg-abstract.jpg" alt="" data-aos="fade-in" class="">

    @* <div class="content"> *@

    <div class="container">
        <h1>Edit Customer</h1>

        <form method="post">
            <div class="form-group">
                <label asp-for="Customer.Givenname">Given Name</label>
                <input asp-for="Customer.Givenname" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Customer.Surname">Surname</label>
                <input asp-for="Customer.Surname" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Customer.City">City</label>
                <input asp-for="Customer.City" class="form-control" />
            </div>

            <button type="submit" class="btn-get-started">Save Changes</button>
        </form>
    </div>
</section>